<%= stylesheet_link_tag 'boxs_app/designs' %>

<div id='design_index'>
    <div class='page_wrapper'>
      <div class='page_title'>
        <div class='title_text'>
          My Designs
        </div>
      </div>
      <div class='page_content'>
        <div class='design_grid'>
          <% @designs.each do |design| %>
            <div class="design_item">
                <a class='design_wrapper' href="<%= design_path(design) %>">
                  <div class="image_wrapper">
                    <%= image_tag design.primary_render.image.url %>
                  </div>
                </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
