<style>
    #renderer {
        position: absolute;
        width: 1600px;
        height: 1350px;
        margin: 0 auto;
        overflow: hidden;
        left: 0;
        /*top: -450px;*/
    }

    #renderer img {
        position: absolute;
    }

    #renderer img.room_bg {
        top: 25px;
    }

    #renderer.shift {
        left: -250px;
    }

    #renderer.shift img.room_bg {
        top: 0;
        left: 250px;
    }
</style>
<div ng-controller="RenderController" ng-init="init()" ng-app="boxsApp" id="renderer" class="<%= 'shift' if @camera_view_index == 2 || @camera_view_index == 3 %>">
    <img src="<%= @camera_view.image.url %>" class="room_bg"/>
    <img ng-repeat="furnitureItem in furnitureItems"
         ng-src="{{ furnitureItem.imageURL }}"
         ng-style="{ left: furnitureItem.renderPosition.left, top: furnitureItem.renderPosition.top, width: furnitureItem.renderSize.width, height: furnitureItem.renderSize.height, zIndex: furnitureItem.zIndex }"
         data-identifier="{{ furnitureItem.itemIdentifier }}"
         data-zindex="{{ furnitureItem.zIndex }}"
         data-image-url="{{ furnitureItem.imageURL }}"
         data-render-url="{{ furnitureItem.renderURL }}"
         data-catalog-url="{{ furnitureItem.catalogURL }}"
         data-visible-width="{{ furnitureItem.visibleWidthPercentage }}"
         data-visible-height="{{ furnitureItem.visibleHeightPercentage }}"
         ng-if="furnitureItem.isVisible"
         on-image-load="onFurnitureRender($index)"/>
</div>

<script type='text/javascript'>
    const RenderAPI = {
        furnitureItems: <%= raw(@furniture_items.to_json) %>,
        cameraView: <%= raw(@camera_view.to_json) %>,
        rendered: false
    }
</script>

<%= javascript_include_tag "underscore-min" %>
<%= javascript_include_tag 'three.min' %>
<%= javascript_include_tag "boxs_app/application" %>
<%= javascript_include_tag 'boxs_app/renderer' %>