<script type="text/ng-template" id="login.htm">
  <div class="modal-heading">
    Welcome
    <a href ng-click="modal.dismiss()" class="close-link">
      <span class="fa fa-times"></span>
    </a>
  </div>
  <div class="modal-content-wrapper login_form" ng-init="init()">
    <div ng-show="!otpSent" class='before_otp'>
      <form ng-submit="submitUserLogin()">
        <p class='form_text'>
          Please enter your mobile number.
        </p>
        <div class='form_row'>
          <input ng-model="mobile" type='text' placeholder="Mobile number" class='mobile' />
        </div>
        <div style="color: #999;font-size: 0.9em;">
          You are one of the early users of Boxs and your feedback will help us greatly.
          <div style="font-weight: bold; margin-top: 5px;">We won't spam you. Promise.</div>
        </div>
        <div class='modal-actions within_body'>
          <button class="btn btn-primary" type='submit'>
            Proceed
          </button>
        </div>
      </form>
    </div>
    <div ng-show="otpSent" class='after_otp'>
      <form ng-submit="submitUserLogin()">
        <p class='form_text'>
          <div ng-if="!userName">
            Welcome to Boxs!
          </div>
          <div ng-if="userName">
            Welcome back {{ userName }}!
          </div>
        </p>
        <div class='form_row' ng-show="!userName">
          <input ng-model="name" type='text' placeholder="Your Name" class='name' ng-disabled="userName" required />
        </div>
        <div class='form_text'>
          Please enter the OTP sent to your mobile.
        </div>
        <div class='form_row'>
          <input ng-model="otp" type='text' placeholder="OTP" class='otp' required/>
        </div>
        <div class='modal-actions within_body'>
          <button class="btn btn-primary" type='submit'>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</script>
