<style>
    .container {
        position: absolute;
        margin: 0 auto;
        overflow: hidden;
        left: 0;
    }

    .container > img {
        position: absolute;
        width: 100%;
    }

    .container.shift {
        left: -250px;
    }

    .container.shift img#room_bg {
        top: 0;
        left: 250px;
    }

    .container .price {
        position: absolute;
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .container .price .tag {
        height: 60px;
    }

    .container .price .value {
        z-index: 1;
        position: absolute;
        color: #FFF;
        padding-right: 10px;
        font-size: 1.2em;
    }
</style>
<div ng-controller="LocalRendererController" ng-app="boxsApp" id="renderer" ng-init="init()">
    <div class='container' ng-if="loaded" ng-class="{ shift: cameraView.name === '3' || cameraView.name === '4' }" ng-style="{ width: canvasSize.x, height: canvasSize.y }">
        <div style="position: absolute; z-index: 1000; background: red; color: white" ng-if="testMode">Test {{ ts }}</div>
        <!-- <img src="http://localhost:3001/tmp/grobr_size.jpg" id="room_bg" ng-if="testMode"/> -->
        <img ng-src="{{ cameraView.image_url }}" id="room_bg"/>
        <img ng-repeat="furnitureItem in furnitureItems"
             ng-src="{{ furnitureItem.imageURL }}"
             ng-style="{ left: furnitureItem.renderPosition.left, top: furnitureItem.renderPosition.top, width: furnitureItem.renderSize.width, height: furnitureItem.renderSize.height, zIndex: furnitureItem.zIndex }"
             data-render-url="{{ furnitureItem.renderURL }}"
             data-item-id="{{ furnitureItem.identifier }}"
             ng-if="furnitureItem.isVisible && furnitureItem.imageURL"
             on-image-load="onFurnitureRender($index)"/>
         <div ng-repeat="furnitureItem in furnitureItems" ng-if="furnitureItem.price" ng-style="{ left: furnitureItem.hotspotPosition.left, bottom: furnitureItem.hotspotPosition.bottom }" class='price' style='display: none;'>
            <img class='tag' src="../../../public/price_tag.png"/>
            <span class='value'>{{ furnitureItem.price | currency: '₹': 0 }}</span>
         </div>
    </div>
</div>

<script src='jquery.min.js'></script>
<script src='underscore-min.js'></script>
<script src='three.min.js'></script>
<script src='angular.min.js'></script>
<script src='renderer.js'></script>
