<%= stylesheet_link_tag 'boxs_app/rooms' %>

<div class='new_room' ng-init="init()">
  <div class='wizard_step layout_selector'>
    <div class='wizard_prompt'>
      <a href='/' class='close_link'>
        <span class='fa fa-times'></span>
      </a>
      {{ getPrompt() }}
    </div>
    <div class='wizard_content'>
      <div class='layout_grid'>
        <div class='layout_item'
             ng-repeat="option in facetOptions"
             ng-click="selectFacet(option)"
             ng-class="{ selected: option.value === facetValues[curFacetIndex].value }">
          <div class='wrapper'>
            <div class='image_wrapper'>
              <img ng-src="{{ option.image }}" />
            </div>
            <div class='name'>
              {{ option.display_value }}
            </div>
          </div>
        </div>
      </div>
      <div class='action'>
        <%= image_tag 'loading_wedges.gif', "ng-if" => "facetsLoading", class: 'loading_indicator' %>
        <button class='btn btn-primary prev btn-large'
                ng-click="prevFacet()"
                ng-disabled="curFacetIndex === 0">
          Prev
        </button>
        <button class='btn btn-primary next btn-large'
                ng-click="nextFacet()"
                ng-disabled="!facetValues[curFacetIndex]">
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/room_selector.js' %>