<%= stylesheet_link_tag 'boxs_app/moodboard' %>

<div class='page_wrapper'>
  <div class='page_title'>
    <div class='title_text'>
        Moodboards (<%= @is_draft ? 'Draft' : 'Published' %>) (<%= @moodboards.size %>)
    </div>
  </div>
  <div class='page_content'>
    <%= link_to 'Published', moodboards_path %>
    <%= link_to 'Draft', moodboards_path(published: false) %>
    <div class="moodboards_index">
      <% @moodboards.each_with_index do |moodboard, index| %>
        <div class="item <%= 'alt' if index % 2 == 1 %>">
          <div class='furnitures'>
            <% moodboard.furniture_map_with_details.each do |entry| %>
              <% entry['furnitures'].each_with_index do |furniture_info, index| %>
                <% if furniture_info %>
                  <div class='furniture'>
                    <div class='image_wrapper'>
                      <%= image_tag furniture_info['image_urls'][0] %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class='actions'>
            <span>
              #<%= moodboard.id %>
            </span>
            <span>
              <% if moodboard.draft? %>
                  <%= link_to "Publish", publish_moodboard_path(moodboard), :method => :post, :class => 'btn btn-small btn-primary', confirm: "Are you sure you want to publish? This can't be undone" %>
              <% else %>
                <%= link_to "Archive", archive_moodboard_path(moodboard), :method => :post, :class => 'btn btn-small btn-primary', confirm: "Are you sure you want to archive? This can't be undone" %>
              <% end %>
            </span>
            <%= link_to 'Edit', moodboard_path(moodboard), target: '_blank', :class => 'btn btn-small btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/moodboard.js' %>
