<%= stylesheet_link_tag 'boxs_app/moodboard' %>

<div class='page_wrapper' ng-controller="MoodboardController" ng-init="init(<%= @moodboard.id %>)">
  <div class='page_title'>
    <div class='title_text'>
        Moodboard #<%= @moodboard.id %>
    </div>
    <div>
      <%= link_to 'All Moodboards', moodboards_path %>
    </div>
  </div>
  <div class='page_content'>
    <div class='moodboard'>
      <div class='wrapper'>
        <div class='mapping_grid'>
          <div class='grid_wrapper'>
            <div ng-repeat="categoryEntry in moodboard.required_super_categories_map"
                 class='category_entry'
                 ng-class="{ alt: $index % 2 === 0 }">
              <div ng-repeat="index in [].constructor(categoryEntry[1]) track by $index"
                   ng-class="{ active: isActiveSlot(categoryEntry[0], $index) }"
                   class='rank_slot'>
                <div class='slot_value'>
                  <img ng-src="{{ furnituresBySuperCategory[categoryEntry[0]][moodboard.furniture_ids_by_super_category[categoryEntry[0]][$index]]['image_urls'][0] }}"
                       class='image'
                       ng-if="moodboard.furniture_ids_by_super_category[categoryEntry[0]][$index]"
                     />
                  <div ng-if="!moodboard.furniture_ids_by_super_category[categoryEntry[0]][$index]"
                       class='empty'>
                    Blank
                  </div>
                </div>
                <div class='slot_action'>
                  <button ng-click="deselectSlot(categoryEntry[0], $index)"
                          ng-show="isActiveSlot(categoryEntry[0], $index)"
                          class='btn btn-small btn-primary'
                          >
                    Close
                  </button>
                  <button ng-click="selectSlot(categoryEntry[0], $index)"
                          ng-hide="isActiveSlot(categoryEntry[0], $index)"
                          ng-disabled="isAnySlotSelected()"
                          class='btn btn-small btn-secondary'>
                    Assign
                  </button>
                </div>
                <div class='category'>
                  {{ categoryEntry[0] }}
                </div>
                <span ng-if="categoryEntry[1] > 1">
                  #{{ $index + 1 }}
                </span>
              </div>
            </div>
          </div>
          <div class='save'>
            <button ng-click="save()" class='btn btn-primary'>
              Save
            </button>
          </div>
        </div>
        <div class='furniture_selector'>
          <div ng-show="!isAnySlotSelected()">
            Select a slot
          </div>
          <div ng-repeat="(superCategory, furnitures) in furnituresBySuperCategory"
               ng-if="superCategory === slot.superCategory"
               class='category_wrapper'>
            <div ng-repeat="(id, furniture) in furnitures"
                 ng-click="assignSlot(id)"
                 class='furniture_item'>
              <img ng-src="{{ furniture.image_urls[0] }}" />
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3>Sample Designs</h3>
        <div class='rooms'>
          <ul>
            <% @moodboard.sample_rooms.each do |room| %>
              <li>
                Room #<%= link_to room.id, room_path(room) %>
              </li>
            <% end %>
            <li>
              <a href='#' ng-click="newDesign()">
                Create New Room
              </a>
            </li>
          </ul>
        </div>
        <div class='designs'>
          <% @moodboard.sample_designs.each do |design| %>
            <%= link_to design_path(design) do %>
              <div>
                <%= !design.is_private? ? 'Featured' : 'Not Featured' %>
              </div>
              <%= image_tag design.primary_render.image.small.url, target: '_blank' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="newRoom.html">
  <%= render partial: 'rooms/new' %>
</script>

<script type='text/javascript'>
  const baseData = {
    furnitures: <%= raw(@furnitures_data.to_json) %>
  }
</script>

<%= javascript_include_tag 'boxs_app/moodboard' %>
<%= javascript_include_tag 'boxs_app/new_room' %>

