<%= stylesheet_link_tag 'boxs_app/home', media: 'all' %>

<div id="boxs_home" ng-controller="HomeController" ng-init="init()">
  <div class='hero_banner'>
    <img class='hero_bg' src="https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_960_720.jpg">
    <div class='overlay'></div>
    <div class='hero_wrapper'>
      <h2 class='uvp'>
        You are the best designer for your home
      </h2>
      <h3 class='uvp_sub'>
        Try hundreds of design options and create the perfect look for your home by yourself, for FREE
      </h3>
    </div>
  </div>
  <div class='inspirations_box'>
    <div class='prompt'>
      Select a design that you like
    </div>
    <div ng-if="!inspirations.length">
      Loading...
    </div>
    <div class='inspirations' ng-if="inspirations.length">
      <div class="items">
        <div class="item"
             ng-repeat="inspiration in inspirations | orderBy: 'categoriesCount' : true"
             ng-click="applyInspiration(inspiration)">
          <div class='image_wrapper'>
            <img ng-src="{{ inspiration.image_url }}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="room_selector.html">
  <%= render partial: 'rooms/selector' %>
</script>
<%= javascript_include_tag 'boxs_app/home' %>