<%= stylesheet_link_tag 'boxs_app/new_room' %>

<div class="modal-heading">
  Build your Room
  <a href ng-click="modal.dismiss()" class="close-link fa fa-times"></a>
</div>
<div class="modal-content-wrapper" ng-init="init()">
  <div class='step step_1' ng-show="step === 1">
    <div class='step-prompt'>
      Select your room
    </div>
    <div class='step-content'>
      <div class='form-row'>
        <label>
          Room size
        </label>
        <div class='form-row-content'>
          <select ng-model="roomSizeIndex">
            <option ng-repeat="size in roomSizes" value="{{ $index }}" ng-disabled="!size.active">
              {{ size.length1 }} x {{ size.length2 }}
            </option>
          </select>
        </div>
      </div>
      <div ng-if="roomSizeIndex" class='form-row'>
        <label>
          Main entrance is on
        </label>
        <div class='form-row-content'>
          <label>
            <input type='radio' ng-model="room.entranceWall" value="1"/> {{ getActualRoomSize().length1 }} feet side
          </label>
          <label>
            <input type='radio' ng-model="room.entranceWall" value="2"/> {{ getActualRoomSize().length2 }} feet side
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class='step step_2' ng-show="step === 2">
    <div class='step-prompt'>
      Where is the entrance door located?
    </div>
    <div class='step-content'>
      <div class='entrance_door_selector'>
        <div ng-click="setEntranceSide('l')" class='item' ng-class="{ selected: room.entranceSide === 'l' }">
          <img src="/layout_engine/room_entrances/left.png" class='image'/>
          <div class='text'>
            Left Side
          </div>
        </div>
        <div ng-click="setEntranceSide('r')" class='item' ng-class="{ selected: room.entranceSide === 'r' }">
          <img src="/layout_engine/room_entrances/right.png" class='image'/>
          <div class='text'>
            Right Side
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='step room_editor' ng-style="getRoomCSSStyle()" ng-show="step === 3">
    <style>
        .room_editor {
          width: calc((var(--roomBreadth) * 0.35 * 2 + var(--roomLength)) * var(--pixelRatio));
        }

        .room {
          width: calc((var(--roomBreadth) * 2 + var(--roomLength)) * var(--pixelRatio));
          height: calc(2 * var(--roomHeight) * 30px);
          perspective: calc(var(--roomBreadth) * 2 * var(--pixelRatio));
          margin-left: calc(var(--roomBreadth) * 0.65 * var(--pixelRatio) * -1);
        }

        .room .wall {
          height: calc(var(--roomHeight) * var(--pixelRatio));
          bottom: var(--bottomShift);
        }

        .room .wall.wall_left,
        .room .wall.wall_right {
          width: calc(var(--roomBreadth) * var(--pixelRatio));
        }

        .room .wall.wall_main {
          left: calc(var(--roomBreadth) * var(--pixelRatio));
        }

        .room .wall.wall_right {
          left: calc((var(--roomBreadth) + var(--roomLength)) * var(--pixelRatio));
        }

        .room .wall.wall_bottom {
          width: calc(var(--roomLength) * var(--pixelRatio)); /* depth */
          height: calc(var(--roomBreadth) * var(--pixelRatio));
          left: calc(var(--roomBreadth) * var(--pixelRatio));
        }

        .room .wall.wall_top {
          width: calc(var(--roomLength) * var(--pixelRatio)); /* depth */
          height: calc(var(--roomBreadth) * var(--pixelRatio));
          left: calc(var(--roomBreadth) * var(--pixelRatio));
          bottom: calc((5 * var(--pixelRatio)) + var(--roomHeight) * var(--pixelRatio));
        }
    </style>
    <div class='wizard_step layout_selector'>
      <div class='wizard_content'>
        <div class='controls'>
          <div ng-if="selectedIndex === null" class='main_actions'>
            <div class='add_actions'>
              <div class='prompt'>
                Add to Room
                <span class='fa fa-chevron-right icon'></span>
              </div>
              <div ng-repeat="objectInfo in shellObjectsInfo"
                   ng-click="addObject(objectInfo.category, objectInfo.id)"
                   class='category'>
                <img ng-src="/wall_elements/{{ objectInfo.id }}.png"/>
                <div class='name'>
                  {{ objectInfo.name }}
                </div>
              </div>
            </div>
            <div class='turn_actions'>
              <div class='wrapper'>
                <div ng-click="turn('left')" class='action left'>
                  <span class='fa fa-arrow-circle-left icon'></span>
                  <div class='text'>
                    Turn Left
                  </div>
                </div>
                <div ng-click="turn('right')" class='action right'>
                  <div class='text'>
                    Turn Right
                  </div>
                  <span class='fa fa-arrow-circle-right icon'></span>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="selectedIndex !== null && selectedIndex !== 0" class="edit_actions">
            <div class='prompt' ng-click="deselectObject()">
              <div class='text'>
                <span class='fa fa-arrow-left'></span> Back
              </div>
            </div>
            <div ng-click="align('left')" class='item'>
              <span class='fa fa-angle-double-left icon'></span>
              <div class='text'>
                Move Left End
              </div>
            </div>
            <div ng-click="move('left')" class='item'>
              <span class='fa fa-angle-left icon'></span>
              <div class='text'>
                Move Left
              </div>
            </div>
            <div ng-click="move('right')" class='item'>
              <span class='fa fa-angle-right icon'></span>
              <div class='text'>
                Move Right
              </div>
            </div>
            <div ng-click="align('right')" class='item'>
              <span class='fa fa-angle-double-right icon'></span>
              <div class='text'>
                Move Right End
              </div>
            </div>
            <div ng-click="align('center')" class='item'>
              <span class='fa fa-arrows-h icon'></span>
              <div class='text'>
                Align Center
              </div>
            </div>
            <div ng-click="removeObject()" class='item'>
              <span class='fa fa-trash icon'></span>
              <div class='text'>
                Remove
              </div>
            </div>
          </div>
        </div>
        <div class='room_wrapper'>
          <div class="room">
            <div ng-repeat="o in allOrientations"
                 class="wall wall_{{ o }}"
                 ng-class="{
                  wall_main: o === getOrientation('main'),
                  wall_left: o === getOrientation('left'),
                  wall_right: o === getOrientation('right'),
                  wall_back: o === getOrientation('back') }"
                 ng-style="getWallStyle(o)">
              <div ng-repeat="object in room.objects"
                   ng-if="object.orientation == o"
                   class='object_wrapper'>
                <img ng-src="/wall_elements/{{ object.variant_id }}.png"
                     ng-style="getObjectStyle(object)"
                     data-object-index="{{ $index }}"
                     class="object"
                     ng-click="selectObject($index)"
                     ng-class="{ selected: selectedIndex == $index }"/>
              </div>
            </div>
            <div class="wall wall_top"></div>
            <div class="wall wall_bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="step === 4" class='step'>
    <div class='step-prompt'>
      What kind of furnishing do you need?
    </div>
    <div class='step-content super_category_selector'>
      <div class='item'
           ng-repeat="superCategory in superCategories">
        <div class='main-box' ng-click="toggleSuperCategory(superCategory)" ng-class="{ selected: superCategory.selected, disabled: superCategory.status !== 'published' }">
          <span class='fa fa-check-circle check-icon'></span>
          <div class='main-text'>
            {{ superCategory.label }}
          </div>
          <div ng-if="superCategory.status !== 'published'" class='coming-soon'>
            Coming soon
          </div>
        </div>
        <div class='optional' ng-class="{ disabled: !superCategory.selected }" ng-hide="superCategory.force_major || !superCategory.selected ">
          <label ng-click="superCategory.major = !superCategory.optional">
            <input type='checkbox' ng-model="superCategory.optional" ng-disabled="superCategory.status !== 'published'"/> Optional
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class='modal-actions within-body'>
    <button class='btn btn-secondary prev btn-large'
            ng-click="back()"
            ng-hide="step === 1">
      Prev
    </button>
    <button class='btn btn-primary next btn-large' ng-click="proceed()">
      Proceed
    </button>
  </div>
</div>



