<div class="modal-heading">
  Select your Room
  <a href ng-click="modal.dismiss()" class="close-link fa fa-times"></a>
</div>
<div class="modal-content-wrapper" ng-init="init()">
  <div ng-if="step === 1">
    <div class='step-title'>
      What room do you want to design?
    </div>
    <div class='room_selector type_selector'>
      <div ng-repeat="roomType in roomTypes" class='room_item' ng-click="selectRoomType(roomType)" ng-class="{ selected: selectedRoomType === roomType, 'draft': roomType.draft }">
        <div class='wrapper'>
          <div class='img-wrapper'>
            <img ng-src="{{ roomType.image }}" />
          </div>
          <div class='text'>
            {{ roomType.name }}
          </div>
          <div class='coming-soon'>
            Coming soon
          </div>
        </div>
      </div>
    </div>
  </div>
<div ng-if="step === 2">
    <div class='step-title'>
      Select the {{ selectedRoomType.name | lowercase }} that looks like yours
    </div>
    <div class='room_selector template_selector'>
      <div ng-repeat="roomTemplate in roomTemplates" ng-click="selectTemplate(roomTemplate)" class='room_item' ng-class="{ selected: roomTemplate == selectedTemplate }">
        <div class='wrapper'>
          <div class='img-wrapper'>
            <img ng-src="{{ roomTemplate.image_url }}" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='modal-actions within_body'>
    <button ng-click="prev()" class='btn btn-secondary' ng-if="step !== 1">
      Back
    </button>
    <button ng-click="next()" class='btn btn-primary right'>
      {{ step === 2 ? 'Start' : 'Next' }}
    </button>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/room_selector' %>