<%= stylesheet_link_tag 'boxs_app/rooms' %>

<div ng-controller="RoomIndexController" id='room' ng-init="init()">
  <div class='page_wrapper'>
    <div class='page_title'>
        <div class='title_text'>
            My Designs
        </div>
    </div>
    <div class='page_content'>
      <div class='dashboard'>
        <div class="room_grid">
            <div class="room_item" ng-repeat="room in rooms">
                <a ng-href="/rooms/{{ room.id }}" class='room_wrapper'>
                    <div class='image_wrapper'>
                        <img ng-src="{{ room.cover_image }}" alt="{{ room.name }}" ng-if="room.cover_image">
                        <div ng-if="!room.cover_image" class='no_designs'>
                          No designs here
                        </div>
                    </div>
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/room_index' %>