<%= stylesheet_link_tag 'boxs_app/layouts' %>

<div id='room' ng-controller="LayoutsController" ng-init="init(<%= @room_id %>)" ng-show="room">
  <div class='page_content room_view' ng-show="room">
    <div class='design_grid'>
      <div class="design_item" ng-repeat="furniture_layout in room.furniture_layouts">
        <div class='design_wrapper'>
          <div class="image_wrapper deferred">
            <div class='room_container' ng-style="layoutPreview.getRoomStyle()">
              <img ng-repeat="furnitureItem in furniture_layout.items"
                 ng-if="furnitureItem.category !== 'wall_surface' && furnitureItem.category !== 'floor_surface'"
                 ng-src="{{ furnitureItemImage(furnitureItem.variant_id, furnitureItem.orientation) }}"
                 class='object_icon'
                 ng-style="layoutPreview.getFurnitureItemStyle(furnitureItem)"/>
            </div>
          </div>
          <div class='layout_number'>
            #{{ furniture_layout.id }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/layouts' %>