<%= stylesheet_link_tag 'boxs_app/rooms' %>

<div ng-controller="NewRoomController" class='new_room' ng-init="init()">
  <div class='wizard_step layout_selector'>
    <div class='wizard_prompt'>
      <a href='/' class='close_link'>
        <span class='fa fa-times'></span>
      </a>
      {{ getPrompt() }}
    </div>
    <div class='wizard_content'>
      <div class='layout_grid'>
        Hello
      </div>
      <div class='action'>
        <%= image_tag 'loading_wedges.gif', "ng-if" => "facetsLoading", class: 'loading_indicator' %>
        <button class='btn btn-primary prev btn-large'
                ng-click="prevFacet()"
                ng-disabled="curFacetIndex === 0">
          Prev
        </button>
        <button class='btn btn-primary next btn-large'
                ng-click="nextFacet()"
                ng-disabled="!facetValues[curFacetIndex]">
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/new_room_auto_layout.js' %>