<%= stylesheet_link_tag 'boxs_app/designs' %>

<div class='design_show' ng-init="init(<%= @room.id %>)" ng-controller="DesignShowController">
  <a class='back_link' href="/rooms">
    <span class='fa fa-arrow-left'></span>
  </a>
  <div ng-if="!activeDesign">
    Loading...
  </div>
  <div class='design_box' class='design' ng-if="activeDesign && activeDesign.loaded">
    <div class='render_wrapper' ng-click="deselectHotspot()">
      <% if admin? %>
        <div class='total_price' ng-click="togglePrice()" ng-if="getTotalPrice(activeDesign) !== 0">
          <div class='value'>
            {{ getTotalPrice(activeDesign) | currency: '₹': 0 }}
          </div>
          <div class='details'>
            {{ showPrices ? "hide details" : "show details" }}
          </div>
        </div>
      <% end %>
      <img ng-src="{{ activeDesign.views[0].image_url }}" img-on-load/>
      <div class='focus_areas' ng-if="selectedItemIdentifier">
        <div class='overlay'></div>
        <div ng-repeat="(itemIdentifier, bounds) in activeDesign.views[0].bounds_map" ng-style="{ left: (bounds.min_x * 100) + '%', bottom: (bounds.min_y * 100) + '%', right: ((1 - bounds.max_x) * 100) + '%', top: ((1 - bounds.max_y) * 100) + '%' }" class='item' ng-if="itemIdentifier == selectedItemIdentifier">
        </div>
      </div>
      <div class='hotspots'>
        <div ng-repeat="(itemIdentifier, hotspot) in activeDesign.views[0].hotspots" class='hotspot' ng-style="{ left: (hotspot.x * 100) + '%', bottom: (hotspot.y * 100) + '%' }" data-item-id="{{ itemIdentifier }}" ng-click="toggleHotspot($event, itemIdentifier)" ng-class="{ active: itemIdentifier == selectedItemIdentifier }">
        </div>
        <div  ng-repeat="(itemIdentifier, itemInfo) in activeDesign.item_mapping"
              class='price'
              ng-init="hotspot = activeDesign.views[0].hotspots[itemIdentifier]"
              ng-style="{ left: (hotspot.x * 100) + '%', bottom: (hotspot.y * 100) + '%' }"
              data-item-id="{{ itemIdentifier }}"
              ng-click="toggleHotspot($event, itemIdentifier)"
              ng-if="showPrices && itemInfo.price">
          <img class='tag' src='/price_tag.png'/>
          <div class='value'>{{ itemInfo.price | currency: '₹': 0 }}</div>
        </div>
      </div>
    </div>
    <span class='fa fa-chevron-left nav_icon prev' ng-click="prevDesign()"></span>
    <span class='fa fa-chevron-right nav_icon next' ng-click="nextDesign()"></span>
  </div>
  <div class='inspirations_box'>
    <div ng-if="!inspirations.length">
      Loading...
    </div>
    <div class='inspirations' ng-if="inspirations.length">
      <div class="items">
        <div class="item"
             ng-repeat="inspiration in inspirations | orderBy: 'categoriesCount'"
             ng-click="applyInspiration(inspiration)"
             data-id="{{ inspiration.furniture_id }}"
             ng-if="shouldShowInspiration(inspiration)">
          <div class='wrapper'>
            <div class='image_wrapper'>
              <img ng-src="{{ inspiration.image_url }}"/>
            </div>
            <div class='apply_box' ng-if="activeInspiration === inspiration">
              <a class='close_link' ng-click="hideApplyBox($event, inspiration)">
                <span class='fa fa-times'></span>
              </a>
              <div class='items'>
                <div class='item' ng-repeat="category in activeInspiration.categories" ng-click="applyInspiration($event, category)">
                  {{ getCategoryDisplayName(category) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<%= javascript_include_tag 'boxs_app/design_show' %>
