<%= stylesheet_link_tag 'boxs_app/rooms' %>

<div id='room_templates' ng-controller="RoomTemplatesController" ng-init="init()">
  <div>
    Select
  </div>
  <div class='list'>
    <div ng-repeat="roomTemplate in roomTemplates" ng-click="selectTemplate(roomTemplate)">
      <img ng-src="{{ roomTemplate.image_url }}"/>
    </div>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/room_templates' %>