<div style='display: flex'>
  <% object.designs.each do |design| %>
    <div style="margin: 10px;">
      <div>
        <a href="/admin/design/<%= design.id %>" target="_blank">
          <%= image_tag design.renders[0].image.url, style: 'width: 300px' %>
        </a>
      </div>
      <div>
        <a href="/admin/moodboard/<%= design.moodboard.id %>" target="_blank">
          Moodboard #<%= design.moodboard.id %>
        </a>
      </div>
    </div>
  <% end %>
</div>