<%= stylesheet_link_tag 'boxs_app/layout_engine' %>

<div class='layout_engine' ng-controller="LayoutEngineController">
  <div class='path_navigator'>
    <% @folders.each do |folder| %>
      <div class='column'>
        <h4 class='col_title'>
          <%= folder[:key].humanize %>
        </h4>
        <div class='item_list'>
          <% if folder[:items].blank? %>
            <div class='error'>
              No entries found. Please fix the base data
            </div>
          <% else %>
            <% folder[:items].each do |item| %>
              <div class="item <%= 'selected' if folder[:selected] == item_value(folder[:key], item) %>">
                <%= link_to layout_facet_params(params, @folders, folder[:key], item_value(folder[:key], item)).merge(token: params[:token]) do %>
                  <span class='text'>
                    <%= item_label(folder[:key], item) %>
                  </span>
                  <% if folder[:key] != 'ref_placement' %>
                    <span class='arrow fa fa-caret-right'></span>
                  <% end %>
                <% end %>
                <% if folder[:key] == 'ref_placement' %>
                  <% if folder[:selected] != item_value(folder[:key], item) %>
                    <a class='btn btn-small btn-bordered copy_btn' ng-click="copyPlacements('<%= item %>')">copy</a>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @placements %>
      <div ng-init="init(<%= @cell_size %>)" class='column grid_column'>
        <div ng-if="placements.length">
          <button class='btn btn-primary' ng-click="savePlacements()" ng-if="numChanges !== 0">
            Save Placements
          </button>
          <button class='btn btn-bordered btn-small' ng-click="clearAllPlacements()">
            Clear All Placements
          </button>
        </div>
        <div ng-if="copiedRefPlacement">
          {{ copiedPlacements.length }} placements copied from {{ copiedRefPlacement }}.
          <button ng-disabled="!copiedPlacements.length"
                  class='btn btn btn-primary paste_btn'
                  ng-click="pastePlacements()">
            Paste
          </button>
          <a ng-click="discardCopiedPlacements()" class='btn btn btn-cancel'>discard</a>
        </div>
        <div class='orientation_selector'>
          <div class='section_title'>
            How do you want to place the {{ objectCategory }}?
          </div>
          <div class='item_wrapper'>
            <div ng-repeat="o in [1, 2, 3, 4]"
                 ng-click="setOrientation(o)"
                 class="item"
                 ng-class="{ active: objectOrientation === o }">
              <img ng-src="{{ furnitureItemImage(objectVariantIdentifier, o) }}"/>
            </div>
          </div>
        </div>
        <div class='layers' ng-show="placements.length">
          <div class='layer_item'
               ng-repeat="placement in placements">
            <div  class='color_cell'
                  ng-style="getLayerStyle($index)"
                  ng-class="{ active: selectedPlacementIndex == $index }"
                  ng-click="selectPlacement($index)">
            </div>
            <a ng-click="removePlacement($index)" class='remove_button'>
              <span class='fa fa-trash'></span>
            </a>
          </div>
        </div>
        <div class='grid' ng-style="{ width: roomLength / cellFeetSize * cellPixelSize, height: roomBreadth / cellFeetSize * cellPixelSize, backgroundSize: cellPixelSize * 4 }">
          <div ng-repeat="row in rows">
            <div ng-repeat="column in columns"
                 class='grid_cell'
                 ng-style="{ width: cellPixelSize + 'px', height: cellPixelSize + 'px', left: $index * cellPixelSize, top: $parent.$index * cellPixelSize }"
                 ng-click="placeObject(row, column)"
                 ng-show="$index < (getNumCols() - 1) && $parent.$index < (getNumRows() - 1)">
            </div>
          </div>
          <img ng-src="{{ furnitureItemImage(objectVariantIdentifier, objectOrientation) }}"
               class='object_icon'
               ng-style="objectStyle"
               ng-if="curPlacement.cellRange"/>

          <img ng-src="{{ furnitureItemImage(refVariantIdentifier, refOrientation) }}"
               class='object_icon'
               ng-style="refStyle"
               ng-if="refPlacement" />

          <div ng-repeat="placement in placements"
               class='grid_cell object_marker'
               ng-style="getMarkerStyle(placement, $index)"
               ng-click="selectPlacement($index)"
               ng-class="{ active: selectedPlacementIndex === $index }">
          </div>
        </div>
        <div class='notice local' ng-show="error">
          <div class='alert'>
            {{ error }}
            <a href ng-click="error = null" class="close_link">
              <span class="fa fa-times"></span>
            </a>
          </div>
        </div>
        <div>
          <button class='btn btn-primary'
                  ng-click="markPlacement()"
                  ng-if="curPlacement.cellRange">
            Save Placement
          </button>
          <button class='btn btn-secondary' ng-click="clearPlacement()" ng-if="curPlacement.cellRange">
            Cancel
          </button>
        </div>
      </div>
      <script type='text/javascript'>
        const baseData = {
          roomType: '<%= @room_type %>',
          definitionType: '<%= @definition_type %>',
          objectCategory: '<%= @object_category %>',
          roomLength: <%= @room_length %>,
          roomBreadth: <%= @room_breadth %>,
          objectVariantIdentifier: '<%= @object_variant_id %>',
          objectWidth: <%= @object_width %>,
          objectDepth: <%= @object_depth %>,
          refCategory: '<%= @ref_category %>',
          refVariantIdentifier: '<%= @ref_variant_id %>',
          refWidth: <%= @ref_width || 'null' %>,
          refDepth: <%= @ref_depth || 'null' %>,
          refPlacement: '<%= @ref_placement %>',
          placements: <%= raw(@placements.to_json) %>,
          allParams: <%= raw(@all_params.to_json) %>
        }
      </script>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'boxs_app/layout_engine' %>

