//= require font-awesome

$icon-font-path: "../fonts/bootstrap/";
@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'angular-ui-select/dist/select';

@import 'common';

.wide_screen {
    display: none;
}

@media (min-width: 768px) {
    .mobile_screen {
        display: none;
    }

    .wide_screen {
        display: inherit;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;

        * {
            font-size: 12px;
        }
    }
}

.main_navbar {
    @include clearfix();
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0 0px 10px 0px #DDD;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .notice {
        text-align: center;
        position: absolute;
        width: 100%;
        z-index: 10;
        top: 20px;
    }

    .mobile_menu {
        .dropdown-toggle {
            font-size: 1.5em;
            color: #666;
        }

        .dropdown-menu {
            border-radius: 0;
            padding: 0;

            li {
                padding: 10px;
                border-bottom: 1px solid #CCC;
                align-items: center;
                display: flex;

                > a {
                    padding: 0;
                }
            }
        }
    }

    .main_logo {
        margin-left: 10px;

        .logo {
            height: 25px;
        }
    }

    .browse_nav {
        display: flex;

        a {
            color: #FFF;
        }
    }

    .filler {
        flex-grow: 1;
    }

    .r {
        display: flex;
        align-items: center;
        font-size: 1.1em;
        padding-right: 10px;

        a {
            color: #333;
            text-decoration: none;
        }

        .item {
            margin-left: 10px;
            color: #000;
            padding-right: 10px;

            &:last-child {
                border-right: none;
                padding-right: 0;
            }

            &.refer {
                font-weight: bold;
                background: #33AAFF;
                border-right: none;
                padding: 7px 10px;
                color: #FFF;
            }

            &.signup {
                background: $secondary-color;
                padding: 2px 10px;
                border-radius: 10px;
                color: #FFF;

                @media (max-width: 768px) {
                    display: none;
                }
            }

            &.login {
                color: #555;
            }

            &.user {
                text-align: right;

                .name {
                    display: none;
                }

                a.logout_link {
                    float: left;
                    font-size: 1.1em;
                    margin-left: 5px;
                }
            }
        }
    }

    @media (min-width: 768px) {
        .r {
            display: flex;
            align-items: center;
            font-size: 1.1em;
            padding-right: 10px;

            a {
                color: #333;
                text-decoration: none;
            }

            .item {
                margin-left: 10px;
                color: #000;
                padding-right: 10px;

                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }

                &.refer {
                    font-weight: bold;
                    background: #33AAFF;
                    border-right: none;
                    padding: 7px 10px;
                    color: #FFF;
                }

                &.signup {
                    background: $secondary-color;
                    padding: 2px 10px;
                    border-radius: 10px;
                    color: #FFF;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                &.login {
                    color: #555;
                }

                &.user {
                    text-align: right;

                    a.logout_link {
                        float: left;
                        font-size: 1.1em;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.main_wrapper {
    padding-top: 70px;

    .main_content {
        flex-grow: 1;
    }
}

.page_wrapper {
    .page_title {
        padding: 10px 10px 0;

        .title_text {
            font-size: 1.5em;
        }
    }

    .page_content {
        padding: 10px;
    }

    &.full_width {
        .page_content {
            padding: 10px 0;
        }
    }

    @media (min-width: 768px) {
        width: 1200px;
        margin: 0 auto;

        .page_title {
            padding: 20px 20px 0;

            .title_text {
                font-size: 1.8em;
            }
        }

        .page_content {
            padding: 20px;
        }

        &.full_width {
            width: auto;
        }
    }
}

.crumbs {
    display: flex;
    align-items: center;
    color: #666;
    border-bottom: 1px solid #DDD;
    padding: 10px;

    .crumb_item {
        font-size: 1.2em;
    }

    .crumb_separator {
        font-size: 1.2em;
        margin: 0 10px;
    }

    @media (min-width: 768px) {
        .crumb_item {
            font-size: 1.3em;
        }
    }
}

footer {
    font-size: 1em;

    .credits {
        float: right;
        color: #CCC;
        font-size: 0.9em;

        a {
            color: #CCC;
        }
    }

    @media (max-width: 768px) {
        text-align: center;

        .credits {
            float: none;
            margin-top: 5px;
            display: block;
        }
    }
}

.modal.room_selector_dialog {
  .modal-dialog {
    width: 100vw;
    height: 100vw;
    margin: 0;

    .step-title {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
    }

    .room_selector {
      display: flex;
      flex-wrap: wrap;
        max-height: 70vh;
        overflow-x: hidden;
        overflow-y: scroll;

      .room_item {
        width: 50%;
        padding: 5px;
        display: flex;
        cursor: pointer;

        .wrapper {
          position: relative;
          box-shadow: 0 0 10px #aaa;

          > .img-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
          }

          .overlay {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0, 0.5);
            color: #FFF;
            text-align: center;
          }

          .text {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: #FFF;
            background: rgba(0,0,0,0.6);
            padding: 10px 0;
          }

          .coming-soon {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: #FFF;
            transform: rotate(-45deg);
          }
        }

        &.selected {
          > .wrapper {
            box-shadow: 0 0 0px 7px #2db1ec;

            .overlay {
                display: none;
            }
          }
        }

        &.draft {
            > .wrapper {
                opacity: 0.5;
                cursor: not-allowed;

                .coming-soon {
                    visibility: visible;
                }
            }
        }
      }

      &.type_selector {
       .room_item {
            width: 50%;
        }
      }

      &.template_selector {
        .room_item {
            width: 100%;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .modal-dialog {
      .room_selector {
        &.type_selector {
            .room_item {
                width: 25%;
            }
        }

        &.template_selector {
            .room_item {
                width: 20%;
            }
        }
      }
    }
  }
}
