/**********************************
* FONT
***********************************/

$font-family: 'Lato', sans-serif;

/**********************************
* PRIMARY COLORS
***********************************/

$primary-color: #2db1ec;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

$secondary-color: #777;
$secondary-color-light: lighten($secondary-color, 10%);

$cancel-color: #999999;
$cancel-color-hover: lighten($cancel-color, 10%);

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;

}

a {
  color: #339aD7;
}

.btn {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;

  &.btn-bordered {
      border: 1px solid $primary-color;
      color: $primary-color;
      background: none;
  }

  &.btn-bordered-white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: none;
  }

  &.btn-primary {
    background: $primary-color;
    border: 1px solid $primary-color-dark;
    color: #FFFFFF;
    text-transform: uppercase;

    &:hover, &:focus {
      background: $primary-color-light;
      color: #FFFFFF;
    }

    &.active {
      background: darken($primary-color-dark, 20%);
      border-color: darken($primary-color-dark, 20%);
    }
  }

  &.btn-secondary {
    background: $secondary-color;
    color: #FFFFFF;
    text-transform: uppercase;

    &:hover, &:focus {
      background: $secondary-color-light;
    }

    &.active {
      background: darken($secondary-color, 20%);
      border-color: darken($secondary-color, 20%);
    }
  }

  &.btn-cancel {
    background: $cancel-color;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.9em;

    &:hover, &:focus {
      background: $cancel-color-hover;
      color: #FFFFFF;
    }
  }

  &.btn-white {
    background: #FFF;
    border: 1px solid $secondary-color;
    text-transform: uppercase;
    color: $secondary-color;
    text-shadow: none;
    box-shadow: none;

    @media (max-width: 768px) {
      border-radius: 0;
    }

    &:hover {
      background: #FAFAFA;
    }
  }

  &.btn-small {
    padding: 4px 7px;
    border-radius: 3px;
    font-size: 0.8em;
    line-height: 1.2em;
  }

  &.btn-large {
    font-size: 1.2em;
    padding: 7px 18px;
  }

  &[disabled] {
    background: #cccccc;
    color: #555555 !important;
    border-color: #CCC;
    cursor: not-allowed;
  }
}

a.btn {
    text-decoration: none;
}

.modal {
  .modal-content {
    border-radius: 0;

    .modal-heading {
      background: #444;
      color: #FFF;
      text-transform: uppercase;
      border-radius: 0;
      padding: 10px;
      font-size: 1.5em;
      text-align: center;
      letter-spacing: 2px;

      a.close-link {
        color: #FFF;
        font-size: 1.2em;

        &:hover {
          color: #EEE;
        }
      }
    }

    a.close-link {
      color: #000;
      position: absolute;
      text-decoration: none;
      top: 10px;
      right: 10px;
      z-index: 1;
      font-size: 1.8em;

      &:hover {
        color: #555555;
      }
    }

    .modal-content-wrapper {
      padding: 20px;
    }

    .modal-actions {
      @include clearfix();
      background: #EEE;
      padding: 10px 20px;
      border-top: 1px solid #CCC;
      box-shadow: 0 -1px 3px #CCC;

      .actions {
        float: right;

        .btn {
          margin-left: 10px;
        }
      }

      .btn {
        margin-right: 7px;
        padding: 7px 15px;
        font-size: 1em;

        &.right {
          float: right;
        }
      }

      &.within_body {
        margin: 20px -20px -20px;

        @media (max-width: 768px) {
          margin: 20px -10px -10px;
          padding: 7px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .modal-content {
      .modal-heading {
        font-size: 1.1em;
      }

      .modal-content-wrapper {
        padding: 10px;
      }
    }

    &.full-modal {
      .modal-dialog {
        padding: 0;
      }
    }
  }
}

form {
  .form_text {
    margin-bottom: 10px;
  }

  .form_row {
    input[type=text] {
      width: 300px;
      padding: 7px;

      &.otp {
        width: 100px;
      }
    }
  }
}

.notice {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 20px;

  .alert {
    padding: 10px 10px;
    margin: 0 5px;
    display: inline-block;
    white-space: nowrap;
    border-radius: 0;
    font-weight: bold;
    box-shadow: 3px 3px 3px #AAA;
    background-color: #CC3333;
    border-color: transparent;
    color: #FFF;

    button {
      color: #FFFFFF;
    }

    a.close_link {
      color: #FFF;
    }

    .alert-icon {
      background: #EE8800;
      display: inline-block;
      line-height: 36px;
      margin: -5px -10px -5px;
      padding: 5px 15px;
      margin-right: 10px;
      font-size: 1.3em;
      color: #FFF;
    }

    .msg {
      margin-right: 20px;
    }

    button {
      position: relative;
      float: right;
      right: 0;
      color: #555;
      opacity: 1;
    }

    a.close_link {
      color: #000;
      float: right;
      display: inline-block;
      font-size: 1.2em;
      margin-left: 10px;
      line-height: 0;
    }

    &.alert-success {
      background-color: #EEFFCC;
      color: #000;
    }

    &.alert-info {
      background-color: #F0F5FF;
      color: #000;
      border-color: darken(#F0F5FF, 50%);
    }

    &.alert-notice {
      background-color: #CC3333;
      border-color: transparent;
      color: #FFF;

      button {
        color: #FFFFFF;
      }

      a.close_link {
        color: #FFF;
      }
    }
  }

  &.local {
    position: static;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    top: 55px;
    left: 0;
    right: 0;

    .alert {
      white-space: normal;
      margin: 0;
      border-radius: 0;
    }
  }
}

.login_form {
  .form_row {
    margin-bottom: 10px;
  }

  input[type=text] {
    border: 1px solid #DDD;

    &.mobile {
      width: 100%;
    }

    &.otp {
      width: 100px;
    }
  }

  @media (min-width: 768px) {
    input[type=text] {
      &.mobile {
        width: 200px;
      }
    }
  }
}

.sweet-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.sweet-alert {
  padding: 10px;

  .sa-icon {
    zoom: 0.5;
    margin: 5px auto;
  }

  h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }

  button {
    margin-top: 0;
  }

  p {
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    h2 {
      line-height: 1.2em;
      margin: 0 0 15px 0;
    }

    button {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1em;
    }
  }
}

.progress_backdrop {
  display: none;
}

.modal {
  &.progress_modal {
    .modal-dialog {
      width: 300px;
      margin: 0 auto;
      margin-top: 150px;
    }

    .modal-content-wrapper {
      text-align: center;

      .loader {
        img {
          width: 50px;
          display: none;
        }
      }

      .message {
        margin-bottom: 20px;
        padding: 10px 0;
        text-align: center;
        font-size: 1.5em;
      }

      .progress {
        margin: 0 auto;
      }
    }
  }
}

fieldset {
  margin-bottom: 20px;
}

.row {
  margin: 0;
  margin-top: 15px;
  display: flex;

  .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
  }

  &.submit-row {
    margin-bottom: 40px;
  }
}