.design {
  .overlay_header {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    color: #FFF;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .actions {
      display: flex;

      .btn {
        margin: 0 5px;
      }
    }

    .close_link {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #FFF;
      line-height: 0;
      font-size: 1.5em;
    }
  }

  .render_box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #444;
    display: flex;
    justify-content: center;

    .render_wrapper {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: center;

      .loading_overlay {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 100px;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        padding: 50px;
        margin-left: -250px;
        width: 500px;

        .image_wrapper {
          img {
            width: 100px;
            height: 100px;
          }
        }

        .message {
          margin-top: 10px;
          font-size: 1.5em;
          color: #FFF;
        }
      }

      .carousel-control {
        display: none;
      }

      .carousel-indicators {
        display: none;
      }

      .hotspots {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .hotspot {
          position: absolute;
          z-index: 1000;
          width: 25px;
          height: 25px;
          border-radius: 50px;
          cursor: pointer;
          background: #FFF;
          border: 3px solid #FF9999;
          box-shadow: 0 0 10px 0px #555;
        }
      }

    }

    .close_box {
      position: absolute;
      right: 5px;
      bottom: 150px;
      background: #FFF;
      font-size: 1.2em;
      display: flex;
      height: 30px;
      width: 30px;
      justify-content: center;
      align-items: center;
      z-index: 1;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
    }

    .info_box {
      background: #FFF;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 150px;

      .info_contents {
        padding: 7px;
        display: flex;
        height: 165px;
        overflow: scroll;

        .recommendations {
          .listing_wrapper {
            display: flex;
            padding: 7px;

            .recommendation_item {
              padding: 7px;

              .furniture {
                display: flex;
                flex-direction: column;
                height: 100%;
                text-align: center;

                > .image_wrapper {
                  flex-grow: 1;
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  position: relative;

                  img {
                    max-width: 100px;
                    max-height: 100px;
                  }

                  .active_indicator {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: #CFC;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    background: rgba(0,0,0,0.3);
                    padding: 5px;

                    .fa {
                      margin-right: 3px;
                    }
                  }

                  .similar_indicator {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: #CCC;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    background: rgba(0,0,0,0.3);
                    padding: 5px;
                  }
                }

                > .info {
                  margin-top: 10px;

                  .price {
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }
    }

    .nav_box {
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.3);
      display: flex;

      .item {
        color: #FFFFFF;
        flex-grow: 1;
        padding: 5px 20px;

        &.current_view {
          color: #FFF;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.prev, &.next {
          font-size: 1.5em;

          &:hover {
            background: rgba(0, 0, 0, 0.3);
          }
        }

        &.next {
          text-align: right;
        }

        &.disabled {
          color: #CCC;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .design {
    color: #000;

    .overlay_header {
      .btn {
        padding: 5px 20px;
        font-size: 1.1em;
      }

      .close_link {
        font-size: 1.8em;
      }
    }

    .render_box {
      .close_box {
        right: 299px;
        bottom: auto;
        font-size: 1.5em;
        height: 40px;
        width: 40px;
        border-radius: 7px 0 0 7px;
      }

      .info_box {
        width: 300px;
        height: 100%;
        overflow: scroll;
        box-shadow: -3px 0 10px #999;
        border-left: 1px solid #999;
        left: auto;

        .loading_overlay {
          background: rgba(0, 0, 0, 0.5);
          position: fixed;
          left: auto;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 0;
          flex-direction: column;
          width: 245px;

          .message {
            font-size: 1.2em;
            margin: 0 10px;
            text-align: center;
          }
        }

        .info_contents {
          height: auto;
          padding: 0;
          display: block;

          .recommendations {
            .listing_wrapper {
              flex-wrap: wrap;

              .recommendation_item {
                cursor: pointer;
                width: 50%;

                .furniture {
                  > .image_wrapper {
                    img {
                      max-width: 100%;
                      max-height: unset;
                    }
                  }
                }

                &:hover {
                  background: #EEE;

                  &.current {
                    background: none;
                  }
                }
              }
            }
          }
        }
      }

      .nav_box {
        .item {
          &.prev, &.next {
            font-size: 2em;
            cursor: pointer;

            &:hover {
              background: rgba(0, 0, 0, 0.3);
            }
          }

          &.current_view {
            font-size: 1.2em;
          }

          &.next {
            text-align: right;
          }
        }
      }
    }
  }
}
