@import 'common';

#design_index {
  padding: 10px;

  .no_designs {
    text-align: center;
    background: #F5f5f5;
    padding: 50px 0;
    margin: -10px;
    outline: 5px solid #DDD;

    .message {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }

  .design_grid {
    display: flex;
    flex-wrap: wrap;

    .design_item {
      padding-bottom: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;

      a.design_wrapper {
        display: flex;
        text-decoration: none;
        color: #000;
        position: relative;
        flex: 1;
        justify-content: center;

        .image_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #EEE;
          box-shadow: 0 0 10px #AAA;

          > img {
            width: 100%;
          }

          &.deferred {
            position: relative;
            display: flex;
            justify-content: center;
            flex: 1;

            .room_container {
              position: relative;
              outline: 7px solid #AAA;
              background: url(/layout_engine/top_view_images/small_marble_floor_tile.png);
              margin: 0 20px 20px 0;
              box-shadow: 0 0 20px #CCC inset;

              img.object_icon {
                position: absolute;
              }
            }

            .overlay {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0,0,0, 0.5);
              color: #FFF;
              text-align: center;
              flex-direction: column;

              .message {
                margin-bottom: 10px;
                color: #AAA;
              }
            }
          }
        }

        .layout_number {
          text-align: center;
          padding: 7px 0;
          background: rgba(0,0,0,0.5);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          color: #FFF;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .no_designs {
      padding: 70px 0;

      .message {
        font-size: 1.5em;
      }
    }

    .design_grid {
      .design_item {
        width: 50%;
        padding: 15px;

        a.design_wrapper {
          .image_wrapper {
            > img {
              width: 100%;
            }

            &.deferred {
              .overlay {
                .message {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.main_wrapper {
  padding: 0;
}

a.back_link {
  position: absolute;
  z-index: 5;
  color: #FFF;
  padding: 10px;
  font-size: 1.5em;
}

.design_show {
  display: flex;
  height: 100vh;
  background: #333;
  color: #FFF;

  .design_box {
    position: relative;
    width: 75%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    padding-right: 0;

    > .render_wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 10px;
      position: relative;

      > .total_price {
        position: absolute;
        z-index: 5001;
        top: 0;
        right: 0;
        border-radius: 0 0 0 12px;
        overflow: hidden;
        padding: 5px;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;

        > .value {
          font-size: 1.5em;
        }

        > .details {
          font-size: 0.9em;
          color: #AAA;
        }
      }

      > img {
        width: 100%;
      }

      .hotspots {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;

        > .hotspot {
          position: absolute;
          z-index: 1000;
          width: 25px;
          height: 25px;
          border-radius: 50px;
          cursor: pointer;
          background: #FFF;
          border: 2px solid #DD6666;
          box-shadow: 0 0 10px 0px #555;

          &.active {
            width: 29px;
            height: 29px;
            margin-bottom: -2px;
            margin-left: -2px;
          }
        }

        > .price {
          position: absolute;
          z-index: 1000;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          > .tag {
              height: 50px;
          }

          > .value {
              z-index: 1;
              position: absolute;
              color: #FFF;
              padding-right: 10px;
              font-size: 1em;
          }
        }
      }

      .focus_areas {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;

        > .item {
          position: absolute;
          z-index: 1000;
          box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
          border: 3px solid #FFF;
          border-radius: 10px;
        }
      }
    }

    .nav_icon {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      z-index: 1;
      cursor: pointer;
      font-size: 2em;
      color: #FFF;
      text-shadow: 0 0 10px #000;

      &:active, &:hover {
        color: #AAA;
      }

      &.prev {
        left: 0;
        justify-content: flex-start;
        padding-left: 20px;
      }

      &.next {
        right: 0;
        justify-content: flex-end;
        padding-right: 20px;
      }
    }
  }

  .inspirations_box {
    width: 25%;

    .inspirations {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 10px;

        > .filters {
            color: white;

            .dropdown-menu {
                color: #000;
            }
        }

        > .items {
            height: 100%;
            overflow: scroll;

            > .item {
                display: flex;
                flex: 0 0 auto;
                padding-top: 10px;
                min-height: 0;
                flex-direction: column;

                > .wrapper {
                    height: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    position: relative;

                    > .image_wrapper {
                        height: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    > .apply_box {
                        position: absolute;
                        z-index: 1;
                        background: rgba(0, 0, 0, 0.5);
                        color: #FFF;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;

                        > .close_link {
                            color: #FFF;
                            position: absolute;
                            right: 5px;
                            top: 5px;
                        }

                        > .items {
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: column;
                            justify-content: flex-start;
                            text-align: center;
                            padding-top: 20px;
                            overflow: scroll;
                            height: 100%;

                            > .item {
                                font-size: 0.8em;
                                padding: 2px 0;
                                white-space: nowrap;

                                &:active, &:hover {
                                    background: rgba(0,0,0,0.5);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
}

@media (max-width: 768px) {
  .design_show {
    .design_box {
      > .render_wrapper {
        > .total_price {
          width: 80px;

          > .value {
            font-size: 1em;
          }

          > .details {
            font-size: 0.7em;
          }
        }

        .hotspots {
          > .hotspot {
            width: 15px;
            height: 15px;

            &.active {
              width: 20px;
              height: 20px;
            }
          }

          > .price {
            > .tag {
                height: 30px;
            }

            > .value {
              font-size: 0.7em;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media (orientation: portrait) {
  .design_show {
    flex-direction: column;

    .design_box {
      width: auto;
      height: 60%;
      padding-right: 10px;
      padding-bottom: 0;
    }

    .inspirations_box {
      height: 40%;
      width: auto;

      .inspirations {
        flex-direction: row;
        height: 100%;
        width: auto;
        padding-top: 0;

        > .items {
          display: flex;

          > .item {
            display: flex;
            flex: 0 0 auto;
            padding-right: 10px;
            min-height: 0;
            flex-direction: column;
            padding-top: 0;

            > .wrapper {
              > .image_wrapper {
                display: inline-block;

                img {
                  width: auto;
                  height: 100%;
                }
              }
            }
            }
          }
        }
    }
  }
}

