#furniture_renderer {
  display: flex;

  .light-controls {
    width: 300px;
    background: #DDD;
    padding: 10px;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;

    .row {
      input {
        width: 75px;
      }
    }
  }

  #renderer {
    flex-grow: 1;
    overflow: scroll;
    margin-left: 100px;
  }
}
