@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.main_navbar {
    background: transparent;
    box-shadow: none;

    .r {
        .item {
            color: #FFF;

            a {
                color: #FFF;
            }
        }
    }
}

.main_wrapper {
    position: relative;
    top: -70px;
    color: #FFF;

    .main_content {
        padding: 0;
    }
}

.hero_banner {
    position: relative;
    overflow: hidden;

    img.hero_bg {
        width: 100%;
        position: absolute;
        top: -200px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.6);
    }

    .hero_wrapper {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 1000px;
        padding: 100px 0 150px;
        margin-top: 30px;
        color: #FFF;
        text-align: center;

        h2.uvp {
            margin-bottom: 30px;
            font-size: 2.5em;
        }

        h3.uvp_sub {
            font-size: 1.2em;
            margin: 0 auto;
            line-height: 1.5em;
            font-weight: 300;
        }

        .cta {
            margin-top: 50px;

            .btn {
                text-transform: none;
                padding: 15px 25px;
                font-size: 1.5em;
            }
        }
    }

    .divider_shape {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;
        bottom: -1px;

        svg.waves_svg {
            overflow: hidden;
            display: block;
            position: relative;
            width: calc(159% + 1.3px);
            height: 100px;
            left: 0;
            transform: rotate3d(0,1,0,180deg);

            path.waves_path {
                transform: rotateY(0deg);
                fill: #FFFFFF;
            }
        }
    }
}

.feature {
    background: #FFFFFF;

    .feature_wrapper {
        display: flex;
        width: 1200px;
        margin: 0 auto;
        padding: 50px 20px;
    }

    .screenshot {
        width: 50%;
        text-align: right;
        padding-right: 50px;

        img {
            max-height: 300px;
        }
    }

    .explain {
        width: 50%;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .explain_content {
            color: #333;

            .feature_title {
                font-size: 2em;
            }

            .feature_description {
                margin-top: 20px;
                font-size: 1.2em;
                line-height: 2em;
            }
        }
    }

    &.inv {
        background: #edebe6;

        .screenshot {
            text-align: left;
            padding: 0 0 0 50px;
        }

        .explain {
            padding: 0 30px 0 0;

            .explain_content {
            }
        }
    }
}

.bottom_cta {
    text-align: center;
    margin-top: 20px;

    .btn {
        text-transform: none;
        padding: 15px 25px;
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .hero_banner {
        img.hero_bg {
            top: 0;
            height: 550px;
            margin: 0 auto;
            width: auto;
            left: -50%;
        }

        .hero_wrapper {
            width: auto;
            padding: 50px 20px;

            h2.uvp {
                font-size: 2em;
            }

            .cta {
                margin-top: 25px;
            }
        }

        .divider_shape {
            svg.waves_svg {
                height: 30px;
            }
        }
    }

    .feature {
        .feature_wrapper {
            padding: 20px 15px;
            width: 100%;
        }

        .screenshot {
            padding-right: 15px;

            img {
                max-width: 100%;
                max-height: 200px;
            }
        }

        .explain {
            padding: 0 5px;

            .explain_content {
                .feature_title {
                    font-size: 1.5em;
                }

                .feature_description {
                    line-height: 1.5em;
                    margin-top: 10px;
                    font-size: 1em;
                }
            }
        }

        &.inv {
            .screenshot {
                padding-left: 15px;
                padding-right: 0;
            }

            .explain {
            }
        }
    }
}

.inspirations_box {
    .prompt {
        color: #333;
        padding: 20px 10px;
        text-align: center;
        font-size: 1.4em;
    }

    .inspirations {
        > .items {
            display: flex;
            flex-wrap: wrap;

            > .item {
                display: flex;
                padding: 10px;
                width: 50%;
                height: 400px;
                overflow: hidden;
                cursor: pointer;

                > .image_wrapper {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 10px;
                    flex-grow: 1;

                    img {
                        width: 100%;
                    }

                    &:hover, &:active {
                        box-shadow: 0 0 5px #555;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .prompt {
            padding: 10px;
        }

        .inspirations {
            padding: 0 5px;

            > .items {
                > .item {
                    height: 100px;
                    width: 50%;
                    padding: 5px;

                    > .image_wrapper {
                        border-radius: 5px;
                    }
                }
            }
        }

        @media (orientation: landscape) {
            .inspirations {
                > .items {
                    > .item {
                        height: 200px;

                        > .image_wrapper {
                        }
                    }
                }
            }
        }
    }
}
