.dashboard {
  .room_grid {
    display: flex;
    flex-wrap: wrap;

    .room_item {
      padding-bottom: 20px;
      flex-grow: 1;

      > .room_wrapper {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #333;

        > .image_wrapper {
          flex-grow: 1;

          img {
            width: 100%;
          }

          .no_designs {
            width: 100%;
            padding: 50px 0;
            border: 1px solid #EEE;
            background: #F5F5F5;
            color: #AAA;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        > .name {
          align-items: center;
          justify-content: center;
          display: flex;
          padding-top: 5px;
          font-size: 1.2em;
        }
      }
    }
  }

  .room_grid {
    .room_item {
      flex-grow: 0;
      padding: 0 15px 15px 0;

      > .room_wrapper {
        > .image_wrapper {

          img {
            height: 300px;
            width: auto;
          }

          .no_designs {
            height: 300px;
            width: 450px;
          }
        }
      }
    }
  }
}

.room_view {
  padding: 10px;

  .no_designs {
    text-align: center;
    background: #F5f5f5;
    padding: 50px 0;
    margin: -10px;
    outline: 5px solid #DDD;

    .message {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }

  .design_grid {
    display: flex;
    flex-wrap: wrap;

    .design_item {
      padding: 0;
      display: flex;
      justify-content: center;
      padding: 10px;

      .design_wrapper {
        position: relative;

        .image_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          > img {
            width: 100%;
          }

          &.deferred {
            position: relative;
            display: flex;
            justify-content: center;
            flex: 1;

            .room_container {
              position: relative;
              outline: 7px solid #AAA;
              background: url(/layout_engine/top_view_images/small_marble_floor_tile.png);
              margin: 0 20px 20px 0;
              box-shadow: 0 0 20px #CCC inset;

              img.object_icon {
                position: absolute;
              }
            }

            .overlay {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0,0,0, 0.5);
              color: #FFF;
              text-align: center;
              flex-direction: column;

              .message {
                margin-bottom: 10px;
                color: #AAA;
              }
            }
          }
        }

        .layout_number {
          text-align: center;
          padding: 7px 0;
          background: rgba(0,0,0,0.5);
          color: #FFF;
        }
      }
    }
  }
}
