@import 'common';
$class-slug: for !default

.layout_engine {
  .orientation_selector {
    background: #EEE;
    display: flex;
    padding: 10px;
    flex-direction: column;

    > .section_title {
      font-size: 1em;
      margin-bottom: 10px;
    }

    > .item_wrapper {
      display: flex;

      > .item {
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 1px solid #DDD;
        width: 100px;
        height: 100px;
        margin-right: 10px;

        img {
          max-width: 100%;
          max-height: 100%;
        }    

        &.active {
          outline: 2px solid #F55;
        }
      }    
    }
  }

  .layers {
    display: flex;
    padding: 10px;
    background: #F5F5F5;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;

    .layer_item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      cursor: pointer;

      .color_cell {
        width: 50px;
        height: 50px;

        &.active {
          border: 2px solid blue;
        }
      }

      .remove_button {
        color: #555;
        font-size: 1.2em;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  .grid {
    display: inline-block;
    position: relative;
    margin: 10px;
    border: 1px solid #555;
    overflow: hidden;
    background: url("/layout_engine/top_view_images/small_marble_floor_tile.png");

    .grid_cell {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: #EEE;
      }

      &.object_marker {
        position: absolute;
        background: #EEE;
        pointer-events: none;
        opacity: 0.8;

        &.active {
          outline: 3px solid blue;
          z-index: 1000;
        }
      }
    }

    .object_icon {
      position: absolute;
      pointer-events: none;
      z-index: 1;
    }

    .grid_cell, .object_icon {
      @for $i from 0 through 20 {
        &.row_#{$i} {
          top: percentage($i / 7);
        }

        &.column_#{$i} {
          left: percentage($i / 7);
        }
      }
    }
  }

  .alignment_editor {
    padding: 0 10px;

    > .item {
      margin-bottom: 20px;

      h4 {
        margin: 0 0 10px 0;
        font-weight: bold;
        font-size: 1em;
      }

      > .cols {
        display: flex;

        > .col {
          margin-right: 50px;

          > label {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .path_navigator {
    display: flex;

    > .column {
      min-width: 120px;
      border-right: 1px solid #DDD;

      .col_title {
        font-size: 0.9em;
        padding: 10px 7px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
      }

      .item_list {
        .item {
          color: #555;
          display: flex;
          align-items: center;

          a {
            color: #555;
            text-decoration: none;
            padding: 7px;
            flex-grow: 1;

            .text {
              flex-grow: 1;
              font-size: 0.9em;
            }

            .arrow {
              align-self: right;
            }            
          }

          .copy_btn {
            color: #000;
            margin: 0 5px;
          }

          &.selected {
            background: $primary-color;

            a {
              color: #FFF;
            }
          }
        }
      }

      &.grid_column {
        width: 400px;
        flex-grow: 1;
      }
    }
  }
}
