@import 'common';

#looks {
  .design_magazine {
    .design_item {
      text-align: center;
      padding-bottom: 10px;

      > .design_wrapper {
        text-decoration: none;

        > .image_wrapper {
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
          }
        }

        > .info_wrapper {
          padding: 15px;
          background: #E9DFC1;

          h3.title {
            font-size: 1.3em;
            margin: 0 0 15px 0;
            font-weight: bold;
          }

          .description {
            margin: 15px 0;
            font-size: 0.9em;
            color: #666;
          }

          .swatch {
            .swatch_item {
              display: inline-block;
              width: 50px;
              height: 50px;
            }
          }

          .actions {
              margin-top: 20px;

              .btn {
                background: #FFF;
                border-color: #555;
                color: #555;
                border-radius: 100px;
                padding: 7px 20px;
              }
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .design_magazine {
      .design_item {
        padding-bottom: 50px;

        > .design_wrapper {
          display: flex;

          > .image_wrapper {
            width: 60%;
            flex-grow: 1;

            img {
            }
          }

          > .info_wrapper {
            width: 40%;
            padding: 50px;
            text-align: left;

            h3.title {
              font-size: 1.7em;
              margin-bottom: 30px;
            }

            .description {
              font-size: 1em;
            }

            .price {
              margin-top: 20px;
              font-size: 1.2em;
            }

            .actions {
              margin-top: 20px;

              .btn {
                font-size: 1.1em;
                padding: 10px 25px;
              }
            }
          }
        }
      }
    }
  }
}

