.moodboards_index {
  border: 1px solid #DDD;

  .item {
    display: flex;
    border-bottom: 1px solid #DDD;

    .furnitures {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      .furniture {
        margin: 5px;
        height: 100px;
        border: 1px solid #DDD;

        .image_wrapper {
          height: 100%;

          img {
            max-height: 100%;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      padding: 10px;

      a.btn {
        margin-left: 10px;
      }
    }

    &.alt {
      background: #EEE;
    }
  }
}

.moodboard {
  padding: 20px;

  .wrapper {
    display: flex;

    .mapping_grid {
      width: 50%;

      .grid_wrapper {
        display: flex;
        flex-wrap: wrap;

        .category_entry {
          display: flex;
          min-width: 150px;
          justify-content: center;
          margin-bottom: 20px;

          .rank_slot {
            display: inline-block;
            text-align: center;

            .slot_value {
              margin-right: 20px;

              img.image {
                max-height: 150px;
                max-width: 150px;
              }

              .empty {
                border: 1px solid #AA0000;
                color: #A00;
                background: #EEE;
                height: 150px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
              }
            }

            .slot_action {
              margin-top: 5px;
            }

            .category {
              color: #AAA;
            }
          }
        }
      }
    }

    .furniture_selector {
      height: 800px;
      overflow: scroll;
      border: 1px solid #AAA;

      .category_wrapper {
        display: flex;
        flex-wrap: wrap;

        .furniture_item {
          margin: 5px;

          img {
            max-width: 175px;
          }
        }
      }
    }
  }
}