@import 'common';

.new_room_dialog {
  display: flex !important;
  justify-content: center;

  .modal-dialog {
    min-width: 800px;
    width: auto;

    .modal-content-wrapper {
      padding: 0;
    }

    .close_link {
      position: absolute;
      right: 5px;
      font-size: 1.8em;
      color: #666;
      height: 30px;
      width: 30px;
      text-align: center;
      top: 5px;
    }

    .step {
      padding: 15px;

      .step-prompt {
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.2em;
        border-bottom: 1px solid #CCC;
        padding-bottom: 10px;
      }

      .step-content {
        .form-row {
          margin-bottom: 20px;

          > label {
            font-weight: bold;
            margin-bottom: 5px;
            text-transform: uppercase;
          }

          .form-row-content {
          }
        }
      }
    }

    .entrance_door_selector {
      display: flex;

      > .item {
        border: 1px solid #CCC;
        margin: 10px;

        > img.image {
          width: 400px;
        }

        > .text {
          padding: 10px 0;
          text-align: center;
          background: #EEE;
        }

        &.selected {
          outline: 5px solid $primary-color;
        }
      }
    }

    .room_editor {
      padding: 0 !important;

      .controls {
        position: relative;

        .main_actions {
          .add_actions {
            display: flex;
            padding: 10px 0;

            .prompt {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              color: #666;
              text-transform: uppercase;

              .icon {
                margin-left: 10px;
              }
            }

            .category {
              height: 100px;
              text-align: center;
              position: relative;
              min-width: 125px;
              border: 1px solid #AAA;
              margin-left: -1px;
              padding: 5px;
              background: #EEE;

              img {
                max-height: 100%;
                max-width: 100%;
                margin-bottom: 5px;
              }

              .name {
                font-size: 0.8em;
                text-align: center;
                position: absolute;
                background: rgba(0,0, 0, 0.4);
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5px;
                color: #FFF;
              }
            }
          }

          .turn_actions {
            display: flex;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            justify-content: center;

            > .wrapper {
              display: flex;
              background: rgba(255,2552,255, 0.2);

              .action {
                text-decoration: none;
                color: #000;
                flex-grow: 1;
                display: flex;
                padding: 10px;
                cursor: pointer;

                .icon {
                  margin: 0 10px;
                  display: flex;
                  align-items: center;
                  font-size: 2em;
                }

                .text {
                  display: flex;
                  align-items: center;
                }

                &.left {
                  display: flex;
                  justify-content: flex-end;
                }

                &.right {
                  display: flex;
                  justify-content: flex-start;
                }

                &:hover {
                  background: #CCC;
                }
              }
            }
          }
        }

        .edit_actions {
          display: flex;

          > .prompt {
            text-align: center;
            padding: 0 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background: #F5F5F5;
            border-right: 1px solid #DDD;
            cursor: pointer;

            .text {
                margin-bottom: 5px;
            }
          }

          > .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #000;
            border-right: 1px solid #CCC;
            margin-left: -1px;
            padding: 10px;

            .icon {
              align-items: center;
              font-size: 1.5em;
              display: flex;
              justify-content: center;
              padding: 7px 0;
            }

            .text {
              color: #777;
              font-size: 0.9em;
            }
          }
        }
      }

      .room_wrapper {
        overflow: hidden;

        .room {
          position: relative;
          transform-style: preserve-3d;
          background: #DDD;

          .wall {
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: left;
            transform-style: preserve-3d;
            box-shadow: 0 0 30px 1px inset #BBB;

            &.wall_main {
              width: 100vw;
              background: blue;
            }

            &.wall_right {
              transform: rotate3d(0, 1, 0, -90deg);
              transform-origin: 0% 50%;
              background: red;
            }

            &.wall_left {
              transform: rotate3d(0, 1, 0, 90deg);
              transform-origin: 100% 50%;
              background: green;
              left: 0;
            }

            &.wall_bottom {
              background: url("/wall_elements/wooden_floor.jpg");
              transform: rotate3d(1, 0, 0, -90deg);
              transform-origin: center bottom;
            }

            &.wall_top {
              background: #AAA;
              transform: rotate3d(1, 0, 0, -90deg);
              transform-origin: center bottom;
            }

            &.wall_back {
              display: none;
            }

            &.wall_1 {
              background: #FFFFEE;
            }

            &.wall_2 {
              background: #EEEEEE;
            }

            &.wall_3 {
              background: #FFFFEE;
            }

            &.wall_4 {
              background: #EEEEEE;
            }

            .object_wrapper {
              position: relative;
              width: 0;

              .object {
                transform: translate3d(0,0,2px);
                backface-visibility: hidden;
                position: relative;

                &.selected {
                  outline: 5px solid #AA0000;
                }
              }
            }
          }
        }
      }
    }

    .super_category_selector {
      display: flex;
      flex-wrap: wrap;
      width: 800px;

      > .item {
        margin: 15px;
        display: flex;
        flex-direction: column;
        min-height: 132px;

        .main-box {
          outline: 2px solid #DDD;
          width: 160px;
          height: 100px;
          cursor: pointer;
          position: relative;
          display: flex;

          .main-text {
            align-items: center;
            padding: 0 2px;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            color: #666;
          }

          .check-icon {
            display: none;
            position: absolute;
            top: 2px;
            left: 2px;
            font-size: 1.5em;
            color: #33AA00;
          }

          &.selected {
            outline: 2px solid $primary-color;

            .check-icon {
              display: inline-block;
            }
          }

          &.disabled {
            background: #EEE;
            color: #AAA;
            cursor: not-allowed;
          }

          &:hover {
            background: #F5F5F5;
          }

          .coming-soon {
            color: #999;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            bottom: 0;
            padding: 5px;
            font-size: 0.8em;
          }
        }

        .optional {
          padding-top: 5px;
          text-align: center;
          font-size: 0.9em;
          color: #666;
        }
      }
    }
  }
}


