.dashboard {
  .room_grid {
    display: flex;
    flex-wrap: wrap;

    .room_item {
      padding-bottom: 20px;
      flex-grow: 1;

      > a.room_wrapper {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #333;

        > .image_wrapper {
          flex-grow: 1;

          img {
            width: 100%;
          }

          .no_designs {
            width: 100%;
            padding: 50px 0;
            border: 1px solid #EEE;
            background: #F5F5F5;
            color: #AAA;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        > .name {
          align-items: center;
          justify-content: center;
          display: flex;
          padding-top: 5px;
          font-size: 1.2em;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .room_grid {
      .room_item {
        flex-grow: 0;
        padding: 0 15px 15px 0;

        > a.room_wrapper {
          > .image_wrapper {
            img {
              height: 300px;
              width: auto;
            }

            .no_designs {
              height: 300px;
              width: 450px;
            }
          }
        }
      }
    }
  }
}

.room_view {
  padding: 10px;

  .no_designs {
    text-align: center;
    background: #F5f5f5;
    padding: 50px 0;
    margin: -10px;
    outline: 5px solid #DDD;

    .message {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }

  .design_grid {
    display: flex;
    flex-wrap: wrap;

    .design_item {
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;

      a.design_wrapper {
        display: flex;
        text-decoration: none;
        color: #000;
        position: relative;
        flex: 1;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        box-shadow: 0 0 10px #AAA;

        .image_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0 30px 0;

          > img {
            width: 100%;
          }

          &.deferred {
            position: relative;
            display: flex;
            justify-content: center;
            flex: 1;

            .room_container {
              position: relative;
              outline: 7px solid #AAA;
              background: url(/layout_engine/top_view_images/small_marble_floor_tile.png);
              margin: 0 20px 20px 0;
              box-shadow: 0 0 20px #CCC inset;

              img.object_icon {
                position: absolute;
              }
            }

            .overlay {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(0,0,0, 0.5);
              color: #FFF;
              text-align: center;
              flex-direction: column;

              .message {
                margin-bottom: 10px;
                color: #AAA;
              }
            }
          }
        }

        .layout_number {
          text-align: center;
          padding: 7px 0;
          background: rgba(0,0,0,0.5);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          color: #FFF;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .no_designs {
      padding: 70px 0;

      .message {
        font-size: 1.5em;
      }
    }

    .design_grid {
      .design_item {
        width: 50%;
        padding: 15px;

        a.design_wrapper {
          .image_wrapper {
            > img {
              width: 100%;
            }

            &.deferred {
              .overlay {
                .message {
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#room {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .close_link {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;

    a {
      color: #FFF;
      font-size: 2em;
      text-decoration: none;
    }
  }

  .nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;

    > .item {
      flex-grow: 1;
      height: 50px;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 3em;

      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }

      &.disabled {
        color: #666;
        cursor: not-allowed;
      }
    }
  }

  .design {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    .actions {
      position: absolute;
      display: flex;
      top: 20px;
      align-items: center;

      > .change-label {
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 5px;
      }

      > .item {
        border: 1px solid #CCC;
        color: #FFF;
        padding: 2px 5px;
        cursor: pointer;
        margin: 0 5px;
      }
    }
  }

  .view-grid {
    height: 900px;
    width: 1350px;
    background: #333333;
    padding: 3px;
    display: flex;

    > .view-col {
      display: flex;
      flex-direction: column;

      > .view-row {
        display: flex;
        flex-grow: 1;
        padding: 3px;

        > img {
          width: 100%;
        }
      }

      &.rows-1 {
        width: 66.66%;

        > .view-row {
          height: 100%;
        }
      }

      &.rows-2 {
        width: 33.33%;

        > .view-row {
          height: 50%;
        }
      }
    }

    &.grid-1 {
      height: auto;
      width: 100%;

      > .view-col {
        &.rows-1 {
          width: 100%;
          max-height: 100vh;

          .view-row {
            align-items: center;
            justify-content: center;

            > img {
              max-height: 100%;
              max-width: 100%;
              height: auto;
              width: auto;
            }
          }
        }
      }
    }

    &.grid-2 {
      height: auto;
      width: 100%;

      > .view-col {
        &.rows-1 {
          width: 50%;
          max-height: 100vh;

          .view-row {
            > img {
              max-height: 100%;
            }
          }
        }
      }
    }
  }
}

#room_templates {
  color: blue;
}
