//= require font-awesome

$icon-font-path: "../fonts/bootstrap/";
@import 'bootstrap';
@import 'bootstrap-sprockets';

@import 'common';

.main_navbar {
    @include clearfix();
    height: 70px;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0 2px 7px #CCC;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .notice {
        text-align: center;
        position: absolute;
        width: 100%;
        z-index: 10;
        top: 20px;
    }

    .main_logo {
        .logo {
            height: 35px;
        }
    }

    .filler {
        flex-grow: 1;
    }

    .r {
        display: flex;
        align-items: center;
        font-size: 1.1em;

        a {
            color: #333;
        }

        .item {
            margin-left: 10px;
            color: #000;
            padding-right: 10px;

            &:last-child {
                border-right: none;
                padding-right: 0;
            }

            &.refer {
                font-weight: bold;
                background: #33AAFF;
                border-right: none;
                padding: 7px 10px;
                color: #FFF;
            }

            &.signup {
                background: $secondary-color;
                padding: 2px 10px;
                border-radius: 10px;
                color: #FFF;

                @media (max-width: 768px) {
                    display: none;
                }
            }

            &.user {
                text-align: right;

                .name {
                    float: left;
                }

                a.logout_link {
                    float: left;
                    font-size: 1.1em;
                    margin-left: 5px;
                }
            }
        }
    }
}

.main_wrapper {
    .main_content {
        flex-grow: 5;
        min-height: 700px;
        padding: 10px 20px;

        .full-width-container {
            margin: -10px -20px;

            #page-title {
                padding: 15px;
            }

            .full-width-content {
                padding: 10px;

                table {
                    background: #FFF;
                    width: auto;
                }
            }
        }
    }
}

.page_wrapper {
    .page_title {
        padding: 10px 20px;

        .title_text {
            font-size: 1.6em;
        }
    }

    .page_content {
        padding: 10px;
    }
}

footer {
    font-size: 1em;

    .credits {
        float: right;
        color: #CCC;
        font-size: 0.9em;

        a {
            color: #CCC;
        }
    }

    @media (max-width: 768px) {
        text-align: center;

        .credits {
            float: none;
            margin-top: 5px;
            display: block;
        }
    }
}

.modal {
    &.login_dialog {
        form {

        }
    }
}
