<%= stylesheet_link_tag 'boxs_app/furniture_renderer' %>

</stylesheet>
<div ng-controller="FurnitureCtrl" ng-init="init(<%= @furniture.id %>, '<%= @furniture.model.url %>')" id="furniture_renderer">
  <div class='light-controls'>
    <div ng-if="!isReadyFoRendering">
      Loading...
    </div>
    <div ng-if="isReadyFoRendering">
      <form>
        <fieldset ng-repeat="lightSetting in furniture.lights">
          <legend>{{ $index + 1 }}. {{ lightSetting.type }} light</legend>
          <div class="mb-3 input-group row" ng-if="lightSetting.type !== 'ambient'">
            <div class="col">
              <label class="form-label">X: {{ lightSetting.position.x }}</label>
              <input type="range" class="form-control" min="-5000" max="5000" placeholder="X" ng-model="lightSetting.position.x" ng-change="updateLights()"/>
            </div>
            <div class="col">
              <label class="form-label">Y: {{ lightSetting.position.y }}</label>
              <input type="range" class="form-control" min="-5000" max="5000" placeholder="Y" ng-model="lightSetting.position.y" ng-change="updateLights()"/>
            </div>
            <div class="col">
              <label class="form-label">Z: {{ lightSetting.position.z }}</label>
              <input type="range" class="form-control" min="-5000" max="5000" placeholder="Z" ng-model="lightSetting.position.z" ng-change="updateLights()"/>
            </div>
          </div>
          <div class="mb-3 input-group row" ng-if="lightSetting.type !== 'ambient'">
            <div class="col">
              <label class="form-label">Angle</label>
              <input type="range" class="form-control" min="0" max="1.5707963267948966" step="0.1" placeholder="Angle" ng-model="lightSetting.angle" ng-change="updateLights()"/>
            </div>
            <div class="col">
              <label class="form-label">Penumbra</label>
              <input type="range" class="form-control" min="0" max="1" step="0.1" placeholder="Penumbra" ng-model="lightSetting.penumbra" ng-change="updateLights()"/>
            </div>
            <div class="col">
              <label class="form-label">Intensity: {{ lightSetting.intensity }}</label>
              <input type="range" class="form-control" min="0" max="5" step="0.1" ng-model="lightSetting.intensity" ng-change="updateLights()">
            </div>
          </div>
          <div class="mb-3" ng-if="lightSetting.type === 'ambient'">
            <label class="form-label">Intensity: {{ lightSetting.intensity }}</label>
            <input type="range" class="form-control" min="0" max="5" step="0.1" ng-model="lightSetting.intensity" ng-change="updateLights()">
          </div>
        </fieldset>
        <div class='row submit-row'>
          <button type="submit" class="btn btn-primary btn-small" ng-click="saveLights()">Save lights</button>
        </div>
        <div ng-if="isValidated">
          <fieldset>
            <legend>Capture</legend>
            <div class="mb-3">
              <label class="form-label">Pending captures: {{ requiredCaptures }}</label>
            </div>
          </fieldset>
          <div class='row'>
            <button class="btn btn-primary btn-small" ng-click="startRendering()">Start</button>
          </div>
          <div class='row'>
            <button class="btn btn-cancel btn-small" ng-click="stopRendering()">Stop</button>
          </div>
          <div class='row submit-row'>
            <button class="btn btn-danger btn-small" ng-click="removeAllViews()">Remove all</button>
          </div>
        </div>
      </form>
      <form>
        <fieldset>
          <legend>Camera</legend>
          <div class="mb-3">
            <input type="number" class="form-control" min="0" max="360" placeholder="theta" ng-model="singleCameraPosition.theta"/>
            <input type="number" class="form-control" min="1000" max="7000" placeholder="distance" ng-model="singleCameraPosition.r"/>
          </div>
          <div class='row submit-row'>
            <button type="submit" class="btn btn-primary btn-small" ng-click="updateSingleCamera()">Set camera</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div id='renderer' style='width: 1300px; height: 1300px'></div>
</div>

<script type='text/javascript'>
  <% if @auto_close %>
    window.close();
  <% end %>
  const baseData = {
    cameraPositions: <%= raw(@camera_positions.to_json) %>,
    yPosition: <%= raw(@y_position.to_json) %>
  }
</script>
<%= javascript_include_tag 'three.min' %>
<%= javascript_include_tag 'three_orbit_controls' %>
<%= javascript_include_tag 'boxs_app/furniture_ctrl' %>

