<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <%= display_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">
    <link rel="canonical" href="<%= url_for(subdomain: nil, only_path: false, protocol: 'http') %>"/>
    <link rel="icon" type="image/png" href="<%= image_path('boxs-favicon-16x16.png') %>" sizes="16x16"/>
    <link rel="icon" type="image/png" href="<%= image_path('boxs-favicon-32x32.png') %>" sizes="32x32"/>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133950150-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133950150-5');
    </script>
  </head>
  <body ng-app="boxsApp" ng-cloak ng-strict-di ng-init="initApp()">
    <% if flash.any? && !@local_flash %>
      <div class="notice" ng-hide="hideFlash">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>">
            <%= message %>
            <a href ng-click="hideFlash = true" class="close_link">
              <span class="fa fa-times"></span>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="main_navbar" sticky ng-hide="skipNav">
      <div class="main_logo">
        <%= link_to root_path do %>
          <%= image_tag 'boxs_logo.png', :class => 'logo' %>
        <% end %>
      </div>
      <div class='filler'></div>
      <div class="r">
        <div class='item login' ng-if="!currentUser">
          <button ng-click="login()" class='btn btn-bordered'>
            <span class='fa fa-user'></span>
            <span>Login</span>
          </button>
        </div>
        <div class='item' ng-if="currentUser">
          <%= link_to 'My Rooms', rooms_path %>
        </div>
        <div class='item' ng-if="currentUser">
          {{ currentUser.name }}
          <%= link_to logout_path, method: :delete do %>
            <span class='fa fa-power-off'></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="main_wrapper">
      <div class="main_content">
        <%= yield %>
      </div>
    </div>
    <script type="text/ng-template" id="info-modal">
      <div class='modal-content-wrapper'>
        {{ message }}
      </div>
      <div class='modal-actions'>
        <div class='actions'>
          <button class='btn btn-primary' ng-click='modal.close()'>Close</button>
        </div>
      </div>
    </script>
  </body>
</html>

<%= render partial: 'sessions/login' %>
